
.hidden {
  display: none;
}

.box {
  display: flex;
  position: relative;
  margin: 1%;
  float: left;
  width: 22%;
  height: 170px;
  border: 2px solid black;
  text-align: center;
}

div p {
  margin: 0 auto;
  line-height: 2.5;
}

.checkbox {
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
}

#save-button {
  position: absolute;
  left: 80%;
  top: 4%;
}

h1 {
  border-bottom: 2px solid black;
  padding: 15px 15px;
  margin-bottom: 35px;
}